.navbar {
  background-color: rgb(244, 168, 27);
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
}

.navbar li {
  float: right;
  margin-right: 2%;
}

.navbar li a {
  display: block;
  color: white;
  font-weight: bolder;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: rgb(132, 234, 64);
  font-weight: bold;
}